<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :name, placeholder: "Name", id: 'name'%>
    <br/> 
    <br/> 
    <%= form.telephone_field :phone_number, placeholder: "Phone number",class: 'test' ,autocomplete: "phone Number"%>
    <br/> 
    <br/> 
    <%= form.file_field :resume, accept: 'application/pdf' %>
    <br/> 
    <br/> 
    <%= form.submit %>
  </div>
<% end %>

<script>
  $(function() {
    $('body').on('keydown', '#name', function(e) {
      if (e.which === 32 &&  e.target.selectionStart === 0) {
        return false;
      }  
    });

    $("#user_phone_number").blur(function(e) {
      number = this.value.replace(/-/g, '');
      this.value = number
    }).blur(function() {
      number = this.value
      if (number.length > 3){
        number = number.substring(0,3) + "-" + number.substring(3, 6)+ "-" + number.substring(6, number.length);
        this.value = number
      }
    });
  }); 
  
</script>

