<p id='notice'><%= notice %></p>
<p id='name'> <%= @user.name %></p>
<p id='phone_number'> <%= @user.phone_number %></p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
